:root{

    --primary:#6D4AFF;
    --primary-dark:#5935E5;

    --success:#22C55E;
    --warning:#FBBF24;
    --danger:#EF4444;

    --bg:#F6F7FB;
    --card:#FFFFFF;

    --text:#111827;
    --muted:#6B7280;

    --radius:18px;

}